Repository Thanaen/azure-devops-cli: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint-fix

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    fmt:
      glob: "*.{ts,js,mjs,cjs,json,jsonc}"
      run: bun run fmt --no-error-on-unmatched-pattern {staged_files}
      stage_fixed: true
    lint-fix:
      glob: "*.{ts,js,mjs,cjs}"
      run: bun run lint:fix {staged_files}
      stage_fixed: true

feat: prep npm package for @thanaen/ado-cli
  .gitignore
  README.md
  package.json
  src/cli.ts
  src/config.ts
  test/package-config.test.ts
Due: fmt, lint-fix

ci: add GitHub Action for npm publication
  .github/workflows/npm-publish.yml
  README.md
Due: none

feat: initial version
  .github/workflows/npm-publish.yml
  .gitignore
  .oxlintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  ROADMAP.md
  bun.lock
  lefthook.yml
  package.json
  skills/ado-workflows/SKILL.md
  src/cli.ts
  src/config.ts
  src/pr-workitems.ts
  src/types.ts
  src/workitems-query.ts
  test/package-config.test.ts
  test/pr-workitems.test.ts
  test/workitems-query.test.ts
  tsconfig.json
Due: fmt, lint-fix

chore: update package.json
  package.json
Due: fmt

docs: sync SKILL.md, README.md, and ROADMAP.md with current codebase
  README.md
  ROADMAP.md
  skills/ado-workflows/SKILL.md
Due: none

chore: update repository url in package json
  package.json
Due: fmt

chore: bump version from 0.1.0 to 0.2.0
  package.json
Due: fmt

feat: initial version
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/npm-publish.yml
  .gitignore
  .oxlintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  AGENTS.md
  CLAUDE.md
  README.md
  ROADMAP.md
  bun.lock
  lefthook.yml
  package.json
  skills/ado-workflows/SKILL.md
  src/cherry-pick.ts
  src/cli.ts
  src/config.ts
  src/pr-workitems.ts
  src/types.ts
  src/workitems-query.ts
  test/cherry-pick.test.ts
  test/config.test.ts
  test/package-config.test.ts
  test/pr-workitems.test.ts
  test/workitems-query.test.ts
  tsconfig.json
Due: fmt, lint-fix

Add PR tag support to pr-create and pr-update
  README.md
  skills/ado-workflows/SKILL.md
  src/cli.ts
  src/pr-workitems.ts
  test/pr-workitems.test.ts
Due: fmt, lint-fix

Add tag filter support to prs command
  README.md
  skills/ado-workflows/SKILL.md
  src/cli.ts
Due: fmt, lint-fix

Fix prs tag filtering with full PR label lookup
  src/cli.ts
Due: fmt, lint-fix

feat(prs): add tag filter for pull request listing
  README.md
  skills/ado-workflows/SKILL.md
  src/cli.ts
  src/prs-query.ts
  src/types.ts
  test/prs-query.test.ts
Due: fmt, lint-fix

feat: bundle Claude Code plugin and MCP server
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .mcp.json
  README.md
  claude-code/ado-mcp.mjs
  package.json
  skills/ado-workflows/SKILL.md
  test/claude-plugin.test.ts
  test/fixtures/fake-ado-cli.mjs
Due: fmt, lint-fix

Add status command for quick pre-flight checks
  skills/ado-workflows/SKILL.md
  src/cli.ts
Due: fmt, lint-fix

Guide toward ado init instead of asking for PAT directly
  skills/ado-workflows/SKILL.md
Due: none

Bump version to 0.4.0
  package.json
  test/package-config.test.ts
Due: fmt, lint-fix

Suppress Node.js warnings in CLI output
  src/cli.ts
  test/cli.test.ts
Due: fmt, lint-fix

Bump version to 0.5.0 in package.json
  package.json
Due: fmt

Update version test from 0.4.0 to 0.5.0
  test/package-config.test.ts
Due: fmt, lint-fix

Adapt CLI for non-interactive and Claude Skills usage
  skills/ado-workflows/SKILL.md
  src/cli.ts
  src/config.ts
  test/config.test.ts
Due: fmt, lint-fix

Fix inconsistent PAT error message in cmdStatus
  src/cli.ts
Due: fmt, lint-fix

Bump version from 0.5.0 to 0.6.0
  package.json
Due: fmt

Delete version check test case
  test/package-config.test.ts
Due: fmt, lint-fix
